@font-face {
    font-family: 'Inter';
    src: url('assets/fonts/static/Inter-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Inter';
    src: url('assets/fonts/static/Inter-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Inter';
    src: url('assets/fonts/static/Inter-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* Fondos */
    --color-bg-primary: #141414;
    --color-bg-card: #1e1e1e;
    --color-bg-button: #2d2d2d;

    /* Textos */
    --color-text-primary: #ffffff;
    --color-text-secondary: #d1d1d1;

    /* Acento (el verde lima es tu color estrella) */
    --color-accent: #c5f82a;

    /* Hover para botones */
    --color-bg-button-hover: #c5f82a;
}

body{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    display: flex;
    background-color: var(--color-bg-primary);
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
h1{
    color: var(--color-text-primary);
}


.card {
    background-color: var(--color-bg-card);
    width: 450px;
    height: 700px;
    border-radius: 10px;
}

.card-container {
    display: flex;
    align-items: center;
    flex-direction: column;
} 

.img-container{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 40px;
}

.img-profile{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
}

.data-user{
    display:block;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    text-align: center;
}

.name{
    font-weight: 600;
    font-size: 28px;
    color: var(--color-text-primary);
}

.city{
    margin-top: 10px;
    font-weight: 700;
    font-size: 15px;
    color: var(--color-accent);
}

.description{
    text-align: center;
    margin-top: 35px;
}

.description p{
    color: var(--color-text-secondary);
    font-size: 15px;
    font-weight: 500;
}

.plataforms {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 380px;
    margin: 0 auto;
    margin-top: 30px;
}

.btn{
    background-color: var(--color-bg-button);
    border: none;
    padding: 15px;
    color: var(--color-text-primary);
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.btn:hover{
    background-color: var(--color-bg-button-hover);
    color: var(--color-bg-button);
}

.attribution{
    margin-top: 70px;
    text-align: center;
    color: var(--color-text-primary);
}

.attribution p{
    font-size: 16px;
    font-weight: 600;
}

.text{
    color: var(--color-text-primary);
    text-decoration: none;
    transition: background-color 0.3s;
}

.text:hover{
    color: var(--color-bg-button-hover);
}





